.contents {
  display: flex;
  font-size: 13px;
  align-items: center;
  font-family: "Apple SD Gothic Neo", "__Roboto_2d0052",
    "__Roboto_Fallback_2d0052", sans-serif, system-ui, sans-serif;
  width: 100%;
}
.table {
  width: 100%;
}
.center {
  justify-content: center;
  align-items: center;
}
.playerName {
  text-overflow: ellipsis;
  color: #202d37;
}
.item {
  display: inline-block;
}
.resetImage {
  width: 1500px;
}
.itemImage {
  border-radius: 3px;
  width: 24px;
}
.playerTag {
  color: #9aa4af;
  font-size: 11px;
  line-height: 14px;
}
.champion {
  padding-left: 10px;
  padding-right: 4px;
}
.ChampionImage {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
.playerInfo {
  padding: 5px;
}
.minWin {
  background-color: #b3cdff;
}
.minLose {
  background-color: #ffbac3;
}
.win {
  background-color: #d5e3ff;
}
.lose {
  background-color: #ffd8d9;
}
.noItem {
  width: 24px;
  height: 24px;
  background-color: #b3cdff;
}
