.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.playerWrapper {
  display: flex;
  font-size: 13px;
}
.playerTag {
  color: #9aa4af;
  font-size: 11px;
  line-height: 14px;
}
.playerInfo {
  padding: 5px;
}
.minWin {
  background-color: rgb(140, 140, 255);
}
.minLose {
  background-color: rgb(252, 140, 140);
}
.win {
  background-color: rgb(170, 170, 255);
}
.lose {
  background-color: rgb(255, 170, 170);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
